@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Lobster&display=swap');

body{
    background: linear-gradient(#ff8297b7, #ffffff, #99ceff);
}

li{
    font-family: Lobster;
    
}

h1{
    font-family: Concert One;
    font-size: 80px;
}
